.container {
    display: flex;
}

.column {
    float: left;
    padding: 20px;
}

.left {
    width: 60%;
}

.right {
    width: 40%;
}

canvas {
    border: 1px solid #000;
}
#createDot,
#createLine,
#deleteDots,
#reset { /* Added styling for the reset button */
    display: block;
    margin-top: 10px;
}
.active {
    background-color: red;
    color: #fff;
}
