canvas {
    border: 1px solid #000;
}
#createDot,
#createLine,
#deleteDots,
#reset { /* Added styling for the reset button */
    display: block;
    margin-top: 10px;
}
.active {
    background-color: red;
    color: #fff;
}
