<!DOCTYPE html>
<html>
<head>
    <title>Sandbox</title>
    <style>
        #canvas {
            width: 600px;
            height: 400px;
            border: 1px solid black;
            position: relative;
        }
        .point {
            position: absolute;
            width: 20px;
            height: 20px;
            background-color: red;
            border-radius: 50%;
            cursor: move;
        }
        .point-label {
            position: absolute;
            top: 25px;
            left: 0;
            width: 100%;
            text-align: center;
            font-weight: bold;
        }
    </style>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        var points = [];

        function handleDragStart(event) {
            var style = window.getComputedStyle(event.target, null);
            event.dataTransfer.setData("text/plain", (parseInt(style.getPropertyValue("left"), 10) - event.clientX) + ',' + (parseInt(style.getPropertyValue("top"), 10) - event.clientY) + ',' + event.target.dataset.name);
        }

        function handleDragOver(event) {
            event.preventDefault();
            return false;
        }

        function handleDrop(event) {
            var offsetData = event.dataTransfer.getData("text/plain").split(',');
            var offsetX = parseInt(offsetData[0], 10);
            var offsetY = parseInt(offsetData[1], 10);
            var name = offsetData[2];
            var x = (event.clientX + offsetX);
            var y = (event.clientY + offsetY);

            var point = {x: x, y: y, name: name};
            points.push(point);

            var div = document.createElement("div");
            div.className = "point";
            div.style.left = x + "px";
            div.style.top = y + "px";
            div.dataset.name = name;
            document.getElementById("canvas").appendChild(div);

            var label = document.createElement("div");
            label.className = "point-label";
            label.innerText = name;
            div.appendChild(label);

            return false;
        }

        function drawLine() {
            var canvas = document.getElementById("canvas");
            var ctx = canvas.getContext("2d");
            ctx.clearRect(0, 0, canvas.width, canvas.height);

            for (var i = 0; i < points.length - 1; i++) {
                var pointA = points[i];
                var pointB = points[i + 1];

                ctx.beginPath();
                ctx.moveTo(pointA.x, pointA.y);
                ctx.lineTo(pointB.x, pointB.y);
                ctx.strokeStyle = "#000";
                ctx.stroke();
            }
        }

        function resetCanvas() {
            var canvas = document.getElementById("canvas");
            var ctx = canvas.getContext("2d");
            ctx.clearRect(0, 0, canvas.width, canvas.height);
            points = [];
            $("#canvas").empty();
        }

        $(document).ready(function() {
            $("#canvas").on("dragstart", ".point", function(event) {
                handleDragStart(event.originalEvent);
            });

            $("#canvas").on("dragover", function(event) {
                handleDragOver(event.originalEvent);
            });

            $("#canvas").on("drop", function(event) {
                handleDrop(event.originalEvent);
            });

            $("#weight-input").change(function() {
                var weight = parseInt($(this).val());
                $(".point.selected").each(function() {
                    var index = $(this).index();
                    points[index].weight = weight;
                });

                drawLine();
            });

            $("#reset-button").click(function() {
                resetCanvas();
            });
        });
    </script>
</head>
<body>
    <h1>Sandbox</h1>
    <div id="canvas"></div>
    <div>
        <label for="weight-input">Line Weight:</label>
        <input type="number" id="weight-input" min="1" max="10" value="1">
    </div>
    <div>
        <label for="name-input">Point Name:</label>
        <input type="text" id="name-input" placeholder="Enter a name">
        <button id="add-point">Add Point</button>
        <button id="reset-button">Reset</button>
    </div>
    <script>
        $("#add-point").click(function() {
            var name = $("#name-input").val().trim();
            if (name) {
                var div = document.createElement("div");
                div.className = "point";
                div.draggable = true;
                div.dataset.name = name;
                div.style.left = "290px"; // Center X coordinate
                div.style.top = "190px"; // Center Y coordinate

                var label = document.createElement("div");
                label.className = "point-label";
                label.innerText = name;
                div.appendChild(label);

                document.getElementById("canvas").appendChild(div);
                $("#name-input").val("");

                var point = {x: 290, y: 190, name: name};
                points.push(point);
            }
        });
    </script>
</body>
</html>
